<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <uses-permission android:name="android.permission.health.WRITE_STEPS"/>
    <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_HISTORY" />


    <application>

        <activity
            android:name="${godotPluginPackageName}.HealthPermissionActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">

            <!-- Health Connect rationale (Android 13 and below) -->
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Health Connect privacy policy (Android 14+) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE"/>
                <category android:name="android.intent.category.HEALTH_PERMISSIONS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--
        Plugin metadata:

        - In the `android:name` attribute, the `org.godotengine.plugin.v2` prefix
        is required so Godot can recognize the project as a valid Godot
        Android plugin. The plugin name following the prefix should match the value
        of the plugin name returned by the plugin initializer.

        - The `android:value` attribute should be the classpath to the plugin
        initializer.
        -->
        <meta-data
            android:name="org.godotengine.plugin.v2.${godotPluginName}"
            android:value="${godotPluginPackageName}.GodotAndroidPlugin"/>
    </application>

    <!-- Check if Health Connect is installed -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

</manifest>
